ipywidgets

# Python Libraries (default in template)
matplotlib
numpy
pandas
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.0

## For VS Code Tutorial 
keras
tensorflow

# For Project LIDA
# ToDo: Update to OpenAI 1.x
openai>=0.28.1
lida>=0.0.10

# For Documentation
mkdocs-material
